@font-face {
    font-family: segundaria;
    src: url("font/Raleway-Italic-VariableFont_wght.ttf");
}
@font-face {
    font-family: footer;
    src: url("font/hacka___.ttf");
}
*{
    padding: 0%;
    margin: 0%;

}

body{background-image: url("img/planodefundo.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size:cover;
    background-attachment: fixed;

}
.pesquisa{
    text-align: center;
    font-family: monospace ;
    text-shadow: 0px 0px 8px red;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 25px;
    position: relative;
    top: 25px;

}
form{
    top: 40px;
    position: relative;
    text-indent: 400px;
    text-align: left;
    color: rgb(191, 231, 250);
    text-shadow: 0px 0px 8px rgba(0, 89, 255, 0.959);
    font-weight: bolder;
}

#nome{
    height: 30px;
    width: 400px;
    border-radius: 10px;
    color: rgb(0, 217, 255);
    font-size: 16pt;
    background-color: rgba(0, 0, 0, 0.404);
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    border: 1px solid black;
    text-shadow: 0px 0px 6px rgb(0, 38, 255);
    font-family: monospace;
    text-align: justify;
    text-indent: 10px;
    letter-spacing: 2px;
    
}
#nome:focus{
    text-align: center;
    transition: 1s;
    letter-spacing: 0px;
}
input:focus{
    outline: 2px solid rgba(0, 4, 255, 0.322);
    
}

#email{
    height: 30px;
    width: 400px;
    border-radius: 10px;
    color: rgb(0, 217, 255);
    font-size: 16pt;
    background-color: rgba(0, 0, 0, 0.404);
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    border: 1px solid black;
    text-shadow: 0px 0px 6px rgb(0, 38, 255);
    font-family: monospace;
    position: relative;
    left: 60px;
    top: 40px;
    text-align: justify;
    text-indent: 10px;
    letter-spacing: 2px;
    font-weight: bolder;
    
    

}
#email:focus{
    text-align: center;
    transition: 1s;
    letter-spacing: 0px;
}

.email{
    left: 55px;
    position: relative;
    top: 40px;
}
#idade{
    position:absolute;
    left: 1110px;
    BOTTOM: -10PX;
    height: 30PX;


   
    width: 70px;
    border-radius: 10px;
    color: rgb(0, 217, 255);
    font-size: 16pt;
    background-color: rgba(0, 0, 0, 0.404);
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    border: 1px solid black;
    text-shadow: 0px 0px 6px rgb(0, 38, 255);
    font-family: monospace;
    font-weight: bolder;
    text-align: justify;
    text-indent: 10px;
    letter-spacing: 2px;
    
}
#texto{
    position: relative;
    top: 30px;
}
.idade{
    position: relative;
    left: 1000PX;
    top: 9PX;
}
header{
    background-image: url("img/planodefundo.jpg");
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.616);
    border-radius: 1PX;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center  ;
    background-size:cover;
    background-attachment:fixed ;
   
    
}
.nota{
    text-align: center;
    position: relative;
    left: 600px;
    top: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 8px rgb(255, 2, 2);
    font-weight: bolder;
    font-size: 22pt;
}


header > h1{
    text-align: center;
    color: white;
    top: 15px;
    font-family:monospace;
    font-weight: bolder;
    text-shadow: 0px 0px 8px rgb(255, 0, 0);
    top: 20px;
    position: relative;
    letter-spacing: 4px;
    text-transform:uppercase ;
}




header > p{
    text-align: center;
    color: white;
    position: relative;
    font-size: 8.6pt;
    font-weight: bolder;
    top: 23px;
    font-family: monospace;
    text-shadow: 0px 0px 3px white;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 0px 0px 8px rgb(0, 137, 228);
}

.logo{
    width:60px;
    left: 10px;
    bottom: 5px;
    position: relative;
    opacity: 95%;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 0px 0px 8px white;
}


nav{
    word-spacing: 12px;
    border-radius: 50px 25px 25px 45px ;
    top: 20px;
    position: absolute;
    
    box-shadow: 0px 0px 29px rgba(41, 2, 2, 0.733);
    
    left: 2%;
    background-image: linear-gradient( to right,rgba(53, 0, 0, 0.644), rgba(0, 46, 2, 0.822), rgba(54, 0, 5, 0.733));
    font-family: monospace;
    height: 25px;
    width: 300px;
}
nav > p > a{
    top:4px;
    text-decoration: none;
    color: rgba(0, 217, 255, 0.904);
    font-size: 12px;
    font-family: monospace;font-weight: bolder;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0px 0px 8px rgb(0, 0, 0);
    left: 37px;

}
    .home{
        
    }

.home:hover{
    top:15px;

    font-weight: bolder;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.884);
    transition: 0.3s;
    background-image: linear-gradient( to right, red,rgba(0, 0, 0, 0));   
     color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.486);
    
    border: 1px solid rgba(255, 0, 0, 0.514);
    position: relative;
    padding: 5.5px;
    margin: -5.4px;
    right: 2px;
    text-align: start;

}



.html:hover{
    top:15px;

    font-weight: bolder;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.884);
    transition: 0.3s;
    background-image: linear-gradient( to right, red,rgba(0, 0, 0, 0));   
     color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.486);
    
    border: 1px solid rgba(255, 0, 0, 0.514);
    position: relative;
    padding: 5.5px;
    margin: -5.4px;
    right: 2px;
    text-align: start;


}
.css:hover{
    top:15px;

    font-weight: bolder;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.884);
    transition: 0.3s;
    background-image: linear-gradient( to right, red,rgba(0, 0, 0, 0));   
     color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.486);
    
    border: 1px solid rgba(255, 0, 0, 0.514);
    position: relative;
    padding: 5.5px;
    margin: -5.4px;
    right: 2px;
    text-align: start;

}
.python:hover{
    top:15px;

    font-weight: bolder;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.884);
    transition: 0.3s;
    background-image: linear-gradient( to right, red,rgba(0, 0, 0, 0));   
     color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.486);
    
    border: 1px solid rgba(255, 0, 0, 0.514);
    position: relative;
    padding: 5.5px;
    margin: -5.4px;
    right: 2px;
    text-align: start;

    
}

.sobre:hover{
    top:15px;

    font-weight: bolder;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.884);
    transition: 0.3s;
    background-image: linear-gradient( to right, red,rgba(0, 0, 0, 0));   
     color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.486);
    
    border: 1px solid rgba(255, 0, 0, 0.514);
    position: relative;
    padding: 5.5px;
    margin: -5.4px;
    right: 2px;
    text-align: start;

}

main{ padding: 1%;
    
    
    
}


ul{
    list-style: none;
    
}


.fim{
    background-image: url("img/planodefundo.jpg");
    height: 130px;
    background-position:  left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    box-shadow: 0px 0px 20px black;
    position: relative;
    top: 580px;
    
    
}
.fim > p{
    text-align: left;
    position: relative;
    top: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(255, 247, 247, 0.781);
    font-family: footer;
    font-size: 20pt;
    text-shadow: 0px 0px 8px rgba(255, 0, 0, 0.719);
    margin-left: 10px;
    
    

    
    
}
.in{
    width: 36px;
    opacity: 60%;
    position: absolute;
    top: 55px;
    margin-left: 10PX;
}
.git{
    width: 40px;
    opacity: 40%;
    position: absolute;
    top:55px;
    margin-left: 70pX;
}
.in:hover{
    background-color: white;
    border-radius: 4px;
    box-shadow: 8px 08px 0px rgba(0, 0, 0, 0.404);
    transition: 0.5s;
    opacity: 100%;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 10px;
}

.git:hover{
    position: absolute;
   
    box-shadow: 8px 08px 0px rgba(0, 0, 0, 0.404);
    transition: 0.5s;
    opacity: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

.fim > a{
    top: 60%;
    ;
}

.b{
    width: 60px;
    position: relative;
    bottom:30px;
    border: 1px solid rgb(250, 248, 248);
    border-radius: 30px;
    box-shadow: 0px 0px 8px rgba(245, 243, 243, 0.705);
    opacity: 78%;
    margin-left: 94%;
}

